* {
    box-sizing: border-box;
}

body {
    background-color: #444;
    color: #FFF;
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-image: url(img/work-wallpaper-hd-For-Laptop-Wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    padding: 60px;
    min-height: 100vh;
}

h1,h2,h3 {
    margin: 0;
    font-weight: 400;
}

h1 {
    margin-top: 50px;
}

.lg-heading {
    font-size: 90px;
}

.text-secondary {
    color: yellow;
}

.sm-heading {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 3px 15px;
    background-color: rgb(82, 81, 81);
}

#home {
    overflow: hidden;
}

a {
    color: #FFF;
    text-decoration: none;
}

.icons {
    padding: 6px;
}

.fab:hover {
    color: yellow;
    transition: color 0.5s ease-out;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.menu-btn:hover {
    color: yellow;
    transition: color 0.5s ease-out;
    transform: rotate(180deg);
}

.btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #FFF;
}

.btn-line:hover {
    color: yellow;
    transition: color 0.5s ease-out;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    display: none;
}

nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

nav {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 54, 54);
    list-style: none;
}

nav:hover {
    color: yellow;
    transition: color 0.5s ease-out;
}

.nav-item {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0px 0;
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
    list-style: none;
}

.nav-link1 {
    color: yellow;
}

.nav-link:hover {
    color: yellow;
    transition: 0.5s ease-out;
}

/* About Me */
.bio-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: solid 3px yellow;

}

.about {
    grid-template-areas:
        "bio-img bio"
        "job1 job2 job3";
    grid-template-columns: auto;
    overflow: hidden;
}

.bio {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 40px;
    width: 65%;
    padding: 5px;
    transform: translate3d(350px, -340px, 0);
    font-size: 25px;
    background-color: #444;
    opacity: 0.9;
}

.job1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 32%;
    min-height: 150px;
    float: left;
    margin: 5px;
    display: block;
    padding: 8px;
    background-color: #444;
    opacity: 0.9;
    border-bottom: solid 5px yellow;
    transform: translate3d(0, -250px, 0);
}

.job2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 32%;
    min-height: 150px;
    float: left;
    margin: 5px;
    display: block;
    padding: 8px;
    background-color: #444;
    opacity: 0.9;
    border-bottom: solid 5px yellow;
    transform: translate3d(0, -250px, 0);
}

.job3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 32%;
    min-height: 150px;
    float: left;
    margin: 5px;
    display: block;
    padding: 8px;
    background-color: #444;
    opacity: 0.9;
    border-bottom: solid 5px yellow;
    transform: translate3d(0, -250px, 0);
}
/* my work */
.JOBS {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.pic1 {
    width: 400px;
    height: 300px;
    border: 3px yellow solid;
}

.pic1:hover {
    opacity: 0.7;
}

.pic2 {
    width: 400px;
    height: 300px;
    border: 3px yellow solid;
}

.pic2:hover {
    opacity: 0.7;
}

.pic3 {
    width: 400px;
    height: 300px;
    border: 3px yellow solid;
}

.pic3:hover {
    opacity: 0.7;
}
/* contact page */
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-size: 30px;
    border: 3px solid #FFF;
    padding: 1.5rem 2.5rem;
    margin-bottom: 50px 100px;
    background-color: #444;
    opacity: 0.9;
}

.box a:hover {
    color: yellow;
    transition: color 0.5s ease-out;
    padding: 30px 30px;
}
.box:hover {
    color: yellow;
    transition: color 0.5s ease-out;
    padding: 30px 30px;
}
/* Gallery */
.img1 {
    float: left;
    width: 32%;
    height: 320px;
    border-radius: 8px;
    border: solid 3px yellow;
    background-size: cover;
    margin: 5px;
}

.img1:hover {
    padding: 5px 5px;
}

footer {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: rgb(58, 58, 58);
    clear: both;
}

@media screen and (max-width: 500px) {
    #home {
        margin-top: 5vh;
        text-align: center;
        align-items: center;
    }

    .about {
        grid-template-areas:
            'bio-img'
            'bio'
            'job1'
            'job2'
            'job3';

        grid-auto-columns: auto auto auto auto;
    }

    .bio-img {
        height: 200px;
        margin-left: -40px;
        margin-top: 20px;
        margin-bottom: -80px;
    }

    .bio {
        width: 100%;
    }

    .box {
        width: 100%;
        height: auto;
    }

    .img1 {
        width: 100%;
    }

    .item1 {
        width: 100%;
    }

    .item2 {
        width: 100%;
        transform: translate3d(-210px, 500px, 0);
    }

    .item3 {
        width: 100%;
        transform: translate3d(-420px, 1040px, 0);
    }

    .pic1 {
        width: 200px;
        float: left;
    }

    .pic2 {
        width: 200px;
        float: left;
    }

    .pic3 {
        width: 200px;
        float: left;
    }

    .f1 {
        transform: translate3d(0, 1000px, 0);
    }
}

@media screen and (max-width: 768px) {
    #home {
        text-align: center;
        align-items: center;
    }

    .lg-heading {
        margin-bottom: 15px;
        line-height: 1;
    }

    .about {
        grid-template-areas:
            'bio-img'
            'bio'
            'job1'
            'job2'
            'job3';
        grid-auto-columns: auto auto auto auto;
    }

    .bio-img {
        width: 300px;
        height: 300px;
        margin-left: 50px;
    }

    .bio {
        transform: translate3d(0px, 0, 0);
        width: 100%;
    }

    .about {
        width: 100%;
    }

    .item1 {
        width: 100%;
        transform: translate3d(40px, 0, 0);
    }

    .item2 {
        width: 100%;
        transform: translate3d(-320px, 500px, 0);
    }

    .item3 {
        width: 100%;
        transform: translate3d(-680px, 1000px, 0);
    }

    .pic1 {
        width: 350px;
        float: left;
    }

    .pic2 {
        width: 350px;
        float: left;
    }

    .pic3 {
        width: 350px;
        float: left;
    }

    .f1 {
        transform: translate3d(0, 1000px, 0);
    }

    .job1 {
        width: 100%;
        float: left;
        margin-top: 300px;
    }

    .job2 {
        width: 100%;
        float: left;
    }

    .job3 {
        width: 100%;
        float: left;
    }

    .box {
        width: 100%;
    }

    .img1 {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
    .bio-img {
        width: 250px;
        height: 250px;
    }

    .bio {
        width: 100%;
        height: auto;
        transform: translate3d(0, 0, 0);
    }

    .job1 {
        width: 48%;
        margin-top: 300px;
    }

    .job2 {
        width: 48%;
        margin-top: 300px;
    }

    .job3 {
        width: 48%;
    }

    .pic1 {
        width: 230px;
    }

    .pic2 {
        width: 230px;
    }

    .pic3 {
        width: 230px;
    }

    .img1 {
        width: 48%;
    }
}

@media screen and (min-width: 1171px) {}